<h2>@ViewData["Title"]</h2>

@if (Model.GameState == TicTacToe.Models.States.Win)
{
    <h3>The winner is @Model.CurrentPlayer!</h3>
}
else if (Model.GameState == TicTacToe.Models.States.Draw)
{
    <h3>Draw!</h3>
}
else
{
    <h3> @Model.CurrentPlayer 's turn</h3>
}

<table>
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                <td>
                    <form asp-controller="Game" asp-action="MakeMove" method="post">
                        <input type="hidden" name="r" value="@i" />
                        <input type="hidden" name="c" value="@j" />
                        <button type="submit" style="width:100px; height:100px; font-size:20px"
                                disabled="@(!string.IsNullOrEmpty(Model.Board[i][j]) || Model.GameState != TicTacToe.Models.States.Process)">
                            @Model.Board[i][j]
                        </button>
                    </form>
                </td>
            }
        </tr>
    }
</table>

<form asp-controller="Game" asp-action="ResetGame" method="post" class="mt-3">
    <button type="submit" class="btn btn-warning">Reset Game</button>
</form>
